.hero{
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    .btn{
        padding: 15px 0px;
        background-color: $base-blue;
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        &:hover{
            background-color: $hover-blue;
            transform: scale(1.05);
        }
    }
    }

.carrousel-container {
    width: 100%;
}
.carrousel {
    width: 100%;
}

.container-arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100px;
    @include sm{
        display: none;
    }
}

.arrow-left {
    position: absolute;
    top: 50%;
    right: 20rem;
    color: #16B6D3;
    cursor: pointer;
    @include lg{
        right: 10rem;
    }
    @include lg{
        right: 5rem;
    }
}
.arrow-right {
    position: absolute;
    top: 50%;
    left: 20rem;
    color: #16B6D3;
    cursor: pointer;
    @include lg{
        left: 10rem;
    }
    @include lg{
        left: 5rem;
    }
}

.container-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
