header {
    width: 100%;
    background-color: $dark-grey;
    z-index: 100;
    position: fixed;
    padding: 10px;
    top: 0;

    .header-container {
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        .header-navbar {
            ul {
                display: flex;
                justify-content: flex-start;
                gap: 4rem;

                li a {
                    color: $white;

                    :hover {
                        color: $dark-blue;
                    }
                }
            }

            @include sm {
                display: none;
            }

            @include md {
                display: none;
            }
        }

        button {
            background-color: transparent;
            border: none;
            color: $white;
            display: none;

            .header-navbar-mobileBtn {
                transition: 0.3s;
                display: none;
                object-fit: cover;
            }

            @include sm {
                display: block;
            }

            @include md {
                display: block;
            }
        }
        .header-cta {
            text-align: center;
            padding: 10px;
            color: white;
            transition: 0.4s;
            border-radius: 10px;
            background-color: $base-blue;
            font-size: 1rem;

            &:hover {
                background-color: $hover-blue;
            }
            @include sm {
                display: none;
            }

            @include md {
                display: none;
            }
        }
    }

    .inactive {
        transform: translateX(-100vh);
    }

    .active {
        transform: translateX(0px);
    }

    .navbar-mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $dark-grey;
        padding: 20px;
        transition: 0.4s;
        width: 300px;
        border-right: 1px solid white;
        height: 100vh;
        z-index: 20;
        text-align: center;

        ul {
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;

            li a {
                color: white
            }
        }
    }
}